In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import sqlite3
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import export_text

In [29]:
con = sqlite3.connect("Dataset/database.db")

awards_players_df = pd.read_sql_query("SELECT * FROM awards_players", con)
coaches_df = pd.read_sql_query("SELECT * FROM coaches", con)
players_teams_df = pd.read_sql_query("SELECT * FROM players_teams", con)
players_df = pd.read_sql_query("SELECT * FROM players", con)
series_post_df = pd.read_sql_query("SELECT * FROM series_post", con)
teams_post_df = pd.read_sql_query("SELECT * FROM teams_post", con)
teams_df = pd.read_sql_query("SELECT * FROM teams", con)


teams_df = teams_df.tail(-1)
teams_df = teams_df.drop(['lgID'], axis=1)

teams_df = pd.get_dummies(teams_df, columns=['tmID', 'franchID', 'confID', 'divID', 'firstRound', 'semis', 'finals', 'arena', 'name'])


teams_df.head()

,year,rank,playoff,seeded,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,...,name_Minnesota Lynx,name_New York Liberty,name_Orlando Miracle,name_Phoenix Mercury,name_Portland Fire,name_Sacramento Monarchs,name_San Antonio Silver Stars,name_Seattle Storm,name_Utah Starzz,name_Washington Mystics
1,9,7,N,0,895,2258,542,725,202,598,...,0,0,0,0,0,0,0,0,0,0
2,10,2,Y,0,1089,2428,569,755,114,374,...,0,0,0,0,0,0,0,0,0,0
3,1,8,N,0,812,1903,431,577,131,386,...,0,0,0,0,0,0,0,0,0,0
4,2,4,Y,0,746,1780,410,528,153,428,...,0,0,0,0,0,0,0,0,0,0
5,3,2,Y,0,770,1790,490,663,211,527,...,0,0,0,0,0,0,0,0,0,0

In [30]:
teams_df["playoff"] = teams_df["playoff"].map({"N": 0, "Y": 1})

X = teams_df.drop('playoff', axis=1)
y = teams_df['playoff']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy: .2f}")

print(classification_report(y_test, y_pred))

tree_rules = export_text(clf, feature_names=list(X.columns))
print("Decision Tree Rules:")
print(tree_rules)

Accuracy:  1.00
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       1.00      1.00      1.00        24

    accuracy                           1.00        43
   macro avg       1.00      1.00      1.00        43
weighted avg       1.00      1.00      1.00        43

Decision Tree Rules:
|--- firstRound_ <= 0.50
|   |--- class: 1
|--- firstRound_ >  0.50
|   |--- class: 0